$background-color-card : #f6f6f6;
$main-color: #ff6060;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px 5%;
}

/*------------CARDS-(mandatory/obligatoire)----------*/


.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 2rem;
  justify-items: center;
  background-color : $background-color-card;
  margin-top: 50px;
  border-radius : 25px;
  max-width: 1080px;
  margin: 50px auto 0 auto;
  
  @media (max-width: 768px) {
    grid-template-columns: none;
  }
}





